<!DOCTYPE html>
<html>
	<head>
		<!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/jugu.css"/>
		<link rel="stylesheet" href="css/jquery-ui.min.css">  
		<title>
			Jugu Danne Sundar's Page
		</title>
		<style>
			.socialLink {
				border: 0px;
				width:100%;
			}
		</style>
	</head>
	<body>				
		<div id="maindiv" class="container" ng-app="app" ng-controller="controller">
			<nav class="navbar navbar-default navbar-fixed-top">
				<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>                        
					</button>
					<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li ng-repeat="x in site.headings" ng-class="{'active': x.name == activeItem}"><a href="#" ng-click="myFunction(x.name, x.source)">{{x.name}}</a></li>
					</ul>
				</div>
			</nav>	
			<div class="row">
				<div class="col-sm-2">
					<div style='background-color:lightgray;color:white' align='middle'>Social networks</div>
					<div align='middle'>
						<a href="https://www.facebook.com/Jugu.Dannie" title="Jugu Dannie Sundar" target="_TOP"><img class="img socialLink" src="https://badge.facebook.com/badge/500689165.9298.819076048.png" alt="" /></a>						
					</div>		
					<br/>
					<div align='middle'>
						<a href="https://www.linkedin.com/in/jugudannie">      
						<button type="button" class="btn btn-primary socialLink" style='background-color:#4875B4;'>LinkedIn<span class="badge"></span></button>
						</a>						
					</div>						
					<br/>
					<div align='middle'>
						<a href="https://github.com/jugu">      
						<button type="button" class="btn btn-primary socialLink" style='background-color:#f5f5f5;color:black;font-weight:bold'>GitHub<span class="badge"></span></button>
						</a>						
					</div>
					<br/>
					<div align='middle'>
						<a href="https://twitter.com/jugudannie">      
						<button type="button" class="btn btn-primary socialLink" style='background-color:#33CCFF'>Twitter<span class="badge"></span></button>
						</a>						
					</div>
					<br/>
					<div align='middle'>
						<a href="https://plus.google.com/+JuguDannie">      
						<button type="button" class="btn btn-primary socialLink" style='background-color:#C63D2D'>Google+<span class="badge"></span></button>
						</a>						
					</div>						
					<hr/>
					<div align='middle'>
						<a href="mailto:jugu.87@gmail.com?Subject=Hello%20Jugu" target="_top">
						<span class="badge">Message me</span>
						</a>
					</div>
				</div>
				<div class="col-sm-10">					
					<div id="contentdiv" bind-unsafe-html="content"></div>
				</div>
			</div>
		</div>
		<script type = 'text/javascript' src="scripts/jquery-1.11.3.min.js"></script>
		<script type = 'text/javascript' src="scripts/bootstrap.min.js"></script>	
		<script type = 'text/javascript' src="scripts/angular.min.js"></script>					
		<script type = 'text/javascript' src="scripts/angular-sanitize.min.js"></script>	
		<script type = 'text/javascript' src="scripts/d3.min.js"></script>		
		<script type = 'text/javascript' src="scripts/jquery-ui.min.js"></script>
		<script type = 'text/javascript' src="scripts/jugu.js"></script>					
		<script>
			var app = angular.module('app', ['ngSanitize']);
			app.directive('bindUnsafeHtml', ['$compile', function ($compile) {
				return function(scope, element, attrs) {
					scope.$watch(
						function(scope) {
						  // watch the 'bindUnsafeHtml' expression for changes
						  return scope.$eval(attrs.bindUnsafeHtml);
						},
						function(value) {
						  // when the 'bindUnsafeHtml' expression changes
						  // assign it into the current DOM
						  element.html(value);

						  // compile the new DOM and link it to the current
						  // scope.
						  // NOTE: we only compile .childNodes so that
						  // we don't get into infinite loop compiling ourselves
						  $compile(element.contents())(scope);
						}
					);
				};
			}]);
			app.controller('controller', function ($scope, $http, $sce, $compile) {						
				$scope.toTrustedHTML = function( html ){
					return $sce.trustAsHtml( html );
				}				
				$scope.myFunction = function(name, source) {					
					$scope.activeItem = name;					
					$http.get(source)
						.success(function(data) {							
							$scope.content=data;							
						})
						.error(function(data,status,error,config){
							$scope.error = [{heading:"Error",description:"Could not load headings"}];
						});
				}				
				$http.get('data/headings.json')
						.success(function(data) {
							angular.forEach(data.posts, function (detail) {
								detail.id = parseInt(detail.id);
							});
							$scope.site=data;
							$scope.activePostId = $scope.site.posts[$scope.site.posts.length - 1].id;
							$scope.activeWorkId = $scope.site.works[$scope.site.works.length - 1].id;
						})
						.error(function(data,status,error,config){
							$scope.error = [{heading:"Error",description:"Could not load headings"}];
						});
				$scope.loadwork = function(id) {								
					$scope.activeWorkId = id;
					var worklink = '';
					var length = $scope.site.works.length;
					var works = $scope.site.works;
					for (var t = 0; t < length;t++)
					{
						if (works[t].id == id)
						{
							work = works[t];
							worklink = works[t].link;
							break;
						}
					}
					$http.get(worklink)
						.success(function(data) {							
							$scope.workhtml = data;	
							$scope.work = work;
						})
						.error(function(data,status,error,config){
							$scope.error = [{heading:"Error",description:"Could not load work"}];
						});
				}
				$scope.loadpost = function(id) {								
					$scope.activePostId = id;
					var postlink = '';
					var length = $scope.site.posts.length;
					var posts = $scope.site.posts;
					for (var t = 0; t < length;t++)
					{
						if (posts[t].id == id)
						{
							post = posts[t];
							postlink = posts[t].link;
							break;
						}
					}
					$http.get(postlink)
						.success(function(data) {							
							$scope.posthtml = data;	
							$scope.post = post;
						})
						.error(function(data,status,error,config){
							$scope.error = [{heading:"Error",description:"Could not load post"}];
						});
				}				
				$scope.activeItem = "About Me";		
				$scope.myFunction("About Me", "aboutme.html")								
			});
			
			$(document).on('click','.navbar-collapse.in',function(e) {
				if( $(e.target).is('a') && $(e.target).attr('class') != 'dropdown-toggle' ) {
					$(this).collapse('hide');
				}
			});			
		</script>		
	</body>
</html>