<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/jugu.css"/>
		<title>
			Jugu Danne Sundar's Page
		</title>
	</head>
	<body>				
		<div class="container" ng-app="app" ng-controller="controller">
			<nav class="navbar navbar-inverse navbar-fixed-top">
				<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>                        
					</button>
					<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
				    <!--<a class="navbar-brand" href="#">&nbsp;</a>-->
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li ng-repeat="x in headings.headings" ng-class="{'active': x.name == activeItem}"><a href="#" ng-click="myFunction(x.name, x.source)">{{x.name}}</a></li>
					</ul>
				</div>
			</nav>	
			<div class="row">
				<div class="col-sm-2">
					<div style='background-color:lightgray;color:white' align='middle'>Social networks</div>
					<div align='middle'>
						<!-- Facebook Badge START --><a href="https://www.facebook.com/Jugu.Dannie" title="Jugu Dannie Sundar" style="font-family: &quot;lucida grande&quot;,tahoma,verdana,arial,sans-serif; font-size: 11px; font-variant: normal; font-style: normal; font-weight: normal; color: #3B5998; text-decoration: none;" target="_TOP">Jugu Dannie Sundar</a><span style="font-family: &#039;lucida grande&#039;,tahoma,verdana,arial,sans-serif;font-size: 11px;line-height: 16px;font-variant: normal;font-style: normal;font-weight: normal;color: #555555;text-decoration: none;"></span><br /><a href="https://www.facebook.com/Jugu.Dannie" title="Jugu Dannie Sundar" target="_TOP"><img class="img" src="https://badge.facebook.com/badge/500689165.9298.819076048.png" style="border: 0px;" alt="" /></a><!-- Facebook Badge END -->
					</div>		
					<hr/>
					<div align='middle'>
						<a href="https://www.linkedin.com/pub/jugu-dannie-sundar/15/b69/932">      
						<img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_myprofile_160x33.png" width="160" height="33" border="0" alt="View Jugu Dannie Sundar's profile on LinkedIn">        
						</a>
					</div>						
					<hr/>
					<div align="middle">
						<iframe src="http://githubbadge.appspot.com/jugu?a=0" style="border: 0;height: 142px;width: 180px;overflow: hidden;" frameBorder="0"></iframe>
					</div>
					<hr/>
					<div align="middle">
						<script src="https://apis.google.com/js/platform.js" async defer></script>
						<div class="g-person" data-href="https://plus.google.com/+JuguDannie" data-width="40"></div>
					</div>
				</div>
				<div class="col-sm-10">
					<div ng-bind-html="content" id="contentdiv"></div>
				</div>
			</div>
		</div>
		<script type = 'text/javascript' src="scripts/jquery-1.11.3.min.js"></script>
		<script type = 'text/javascript' src="scripts/bootstrap.min.js"></script>	
		<script type = 'text/javascript' src="scripts/angular.min.js"></script>					
		<script type = 'text/javascript' src="scripts/angular-sanitize.min.js"></script>	
		<script type = 'text/javascript' src="scripts/d3.min.js"></script>		
		<script type = 'text/javascript' src="scripts/jugu.js"></script>					
		<script>
			var app = angular.module('app', ['ngSanitize']);
			app.controller('controller', function ($scope, $http) {				
				$scope.activeItem = "About Me";				
				$scope.myFunction = function(name, source) {								
					$scope.activeItem = name;					
					$http.get(source)
						.success(function(data) {							
							$("#contentdiv").html(data);														
							//$scope.content = data;							
						})
						.error(function(data,status,error,config){
							$scope.error = [{heading:"Error",description:"Could not load headings"}];
						});
				}				
				$http.get('data/headings.json')
						.success(function(data) {
							$scope.headings=data;
						})
						.error(function(data,status,error,config){
							$scope.error = [{heading:"Error",description:"Could not load headings"}];
						});
			$scope.myFunction("About Me", "aboutme.html")				
			});
			
			$(document).on('click','.navbar-collapse.in',function(e) {
				if( $(e.target).is('a') && $(e.target).attr('class') != 'dropdown-toggle' ) {
					$(this).collapse('hide');
				}
			});			
		</script>		
	</body>
</html>