<div class="row">
	<div class="col-sm-2">
		<ul class="nav nav-pills nav-stacked">
			<li ng-repeat="x in site.posts| orderBy:'-id'" ng-class="{'active': x.id == activePostId}"><a href="#" ng-click="loadpost(x.id)">{{x.name}}</a></li>
		</ul>
	</div>
	<div class="col-sm-10"  bind-unsafe-html="posthtml">
	</div>
	<script>
		var scope = angular.element($("#maindiv")).scope();
		/*scope.$apply(function(){
			scope.msg = 'Superhero';
		})*/
		var activepost = scope.activePostId;
		scope.loadpost(activepost)
	</script>
</div>
